<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunnyside_world_chatacter_anim_v0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{32,18},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{16,0},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{34,0},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{0,18},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{16,18},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{0,36},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunnyside_world_chatacter_anim_v7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{18,36},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_carry.png</string>
            <key>size</key>
            <string>{50,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f34441a859fc0c4d95550e17cb67fe47:63435a8ae30725e35c5007ffe7782ca9:8e9ab36cfc2d51eef2e7ccc35ef9f487$</string>
            <key>textureFileName</key>
            <string>player_carry.png</string>
        </dict>
    </dict>
</plist>
