<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_deco_coracle_land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_deco_tree_01_strip4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{0,30},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_deco_tree_02_strip4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{0,64},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree.png</string>
            <key>size</key>
            <string>{32,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18f08f49650cf3057755844388643c6:97074bba6545b7e9bdd1aa9049785b68:34f82d99dfec6e948a5da95a470863ea$</string>
            <key>textureFileName</key>
            <string>tree.png</string>
        </dict>
    </dict>
</plist>
